.description {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}

img {
  width: 200px;
  border-radius: 50%;

  background-color: lightgray;
}

.name {
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 0px;
}

.tag {
  margin-bottom: 0px;
  margin-top: 7px;

  font-size: 14px;
  line-height: 1.14;

  color: gray;
}

.location {
  margin-bottom: 0px;
  margin-top: 7px;

  font-size: 14px;
  line-height: 1.14;

  color: gray;
}
